### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
/.idea/
/*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Archivos compilados de Java
*.class

# Directorios comunes de construcción y salida
/build/
/target/

# Archivos temporales y logs
*.log

# Otros archivos binarios y empaquetados
*.jar
*.war
      
